*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(33, 37, 41, 1);
}
p{
    color: white;
    display: flex;
    justify-content: center;
    max-width: 50rem;
    text-align: center;
}
#linkedinicon {
    font-size: 50px;
    color: lightgreen;
}
i{
    font-size: 50px;
    margin: 35px;
}
img{
    margin-top: 15px;
}
.imagewebsite{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bijdragendocu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-icons{
    display: flex;
    justify-content: center;
    color: lightgreen;
    }
    .container-icons2{
        display: flex;
        justify-content: space-evenly;
        }
        #linkedinicon {
            font-size: 50px;
            color: lightgreen;
        }
        #favorite{
            font-size: 50px;
            color: lightgreen;
        }
h1{
    color: white;
    margin-top: 15px;
}
.introductie{
    display: flex;
    flex-direction: column;
    align-items: center;
}
object{
    width: 50rem;
    height: 50rem;
    display: flex;
}
.pichtpowerpoint{
    display: flex;
    justify-content: center;
}
