*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(33, 37, 41, 1);
}
p{
    color: white;
    display: flex;
}
h1{
    color: white;
}
.introductie{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
}