*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(33, 37, 41, 1);
}
.container-mijzelf{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    max-width: 150rem;
}
.container-mijzelftext{
    display: flex;
    flex-direction: column;
    width: 30rem;
    color: white;
}
.imagevanmijzelf{
    width: 45rem;
    height: 45rem;
}

.volg{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    border-radius: 15px;
}
.volg a{
    color: rgb(33, 37, 41, 1);
    text-decoration: none;
}
i{
    font-size: 50px;
    margin: 50px;
}
#linkedinicon {
    font-size: 50px;
    color: #F9F871;
}
.container-icons{
display: flex;
justify-content: center;
color: #F9F871;
}