*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(33, 37, 41, 1);
}
.container-mijzelf{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    max-width: 150rem;
}
.container-mijzelftext{
    display: flex;
    flex-direction: column;
    width: 30rem;
    color: white;
}
.imagevanmijzelf{
    width: 25rem;
    height: 35rem;
    border-radius: 15%;
}

.volg{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    border-radius: 15px;
}
.volg a{
    color: rgb(33, 37, 41, 1);
    text-decoration: none;
}
i{
    font-size: 50px;
    margin: 35px;
}
.container-icons{
display: flex;
justify-content: center;
color: lightgreen;
}
.container-icons2{
    display: flex;
    justify-content: space-evenly;
    }
    #linkedinicon {
        font-size: 50px;
        color: lightgreen;
    }
    #favorite{
        font-size: 50px;
        color: lightgreen;
    }