*{
    margin: 0;
    padding: 0;
}
h1{
    color: black;
}
.container-werkfoto{
    display: flex;
    margin: 15px;
    flex-direction: column;
}
.container-werkfototext{
    display: flex;
    margin: 50px 15px 15px;
    flex-direction: column;
    align-items: center;
}
img{
    width: 50rem;
    margin: 15px;
}