*{
    margin: 0;
    padding: 0;
}
h1{
    color: black;
}
.container-werkfoto{
    display: flex;
    margin: 15px;
    flex-direction: column;
}
.container-werkfototext{
    display: flex;
    margin: 50px 15px 15px;
    flex-direction: column;
    align-items: center;
}
img{
    width: 50rem;
    margin: 15px;
}
#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  /* Adjust width if needed */
    transition: all 0.5s ease; /* Smooth transition effect */
    z-index: 10;  /* Ensure the nav stays on top */
  }
  
  #main-nav.hidden {
    opacity: 0;  /* Hide the nav with transparency */
    transform: translateY(-100%); /* Move the nav off-screen */
  }